*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "pippins",sans-serif;    



}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
  }
.main{
    /* border: 2px dashed #fff; */
    height: 400px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: teal;
  }
  #addressid,#Tokenid{
      width: 400px;
      height: 30px;
      border-radius: 5px;
      margin-bottom: 5px;
      margin-top: 20px;
  }
  #balance{
      color: white;
      /* padding-top: 20px; */
/* margin-top:10px; */
  }
  #deposite,#connect  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #withdraw  {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    
  }
